@attribute [Route(Index.Route)]
@layout EmptyLayout

@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager
@inject BikeSparesInventorySystem.Repositories.Repository<Spare> _spareRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Category> _categoryRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<ActivityLog> _activityLogRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Sales> _salesRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Orders> _ordersRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Miners> _minersRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Expenses> _expensesRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Wages> _wagesRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Utilities> _utilitiesRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Purchases> _purchasesRepository;

@inject BikeSparesInventorySystem.Services.SessionService _sessionService
@inject BikeSparesInventorySystem.Services.AuthService _authService
@inject BikeSparesInventorySystem.Repositories.Repository<User> _userRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<Spare> _spareRepository;
@inject BikeSparesInventorySystem.Repositories.Repository<ActivityLog> _activityLogRepository;

@inject ISnackbar Snackbar;

<div class="d-flex justify-center align-center" style="height: 100vh">
    <MudStack AlignItems="AlignItems.Center">
        <MudIcon Icon="@Icons.Material.Filled.BikeScooter" Color="Color.Primary" Style="font-size:120" />
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    </MudStack>
</div>

